In [14]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
import seaborn as sns

In [3]:
dataset = pd.read_csv("../data/Amharic News Dataset.csv")
dataset

,headline,category,date,views,article,link
0,የኦሊምፒክ ማጣሪያ ተሳታፊዎች የሚለዩበት ቻምፒዮና እየተካሄደ ይገኛል,ስፖርት,"January 14, 2021",2,ብርሃን ፈይሳየኢትዮጵያ ቦክስ ፌዴሬሽን በየዓመቱ የሚያዘጋጀው የክለቦች ቻ...,https://www.press.et/Ama/?p=39481
1,አዲስ ዘመን ድሮ,መዝናኛ,"December 28, 2020",4,የአዲስ ዘመን ጋዜጣ ቀደምት ዘገባዎች በእጅጉ ተነባቢ ዛሬም ላገኛቸው በ...,https://www.press.et/Ama/?p=38334
2,የአረንጓዴ ጎርፍ በጎ አድራጎት አምባሳደሮች ተሰየሙ,ስፖርት,"January 6, 2021",6,ቦጋለ አበበየአዲስ አበባ ከተማ አስተዳደር ስፖርት ኮሚሽን ከኢትዮጵያ አረ...,https://www.press.et/Ama/?p=39010
3,የሊጉ በቢዝነስ ሞዴል መመራት አበረታች ጅምር መሆኑ ተገለጸ,ስፖርት,"January 6, 2021",5,ብርሃን ፈይሳአዲስ አበባ፡- የኢትዮጵያ ፕሪምየር ሊግ በሼር ካምፓኒ እንዲ...,https://www.press.et/Ama/?p=39011
4,የኦሊምፒክ ሥራ አስፈፃሚው እስከ ቶኪዮ ኦሊምፒክ ማግስት ይቀጥላል,ስፖርት,"January 6, 2021",12,ቦጋለ አበበ የኢትዮጵያ ኦሊምፒክ ኮሚቴ አርባ አምስተኛ መደበኛ ጠቅላላ ጉ...,https://www.press.et/Ama/?p=39012
...,...,...,...,...,...,...
51478,የ2011 በጀት ዓመት የውጭ ዲሎማሲያዊ ተግባራት ስኬታማ እንደነበሩ ተገለጸ,ፖለቲካ,"July 26, 2019",Unknown,በ2011 በጀት ዓመት የተከናወኑ የውጭ ዲፕሎማሲያዊ ተግባራት ስኬታማ እን...,https://waltainfo.com/am/31264/
51479,አቶ አገኘሁ ተሻገር የሰላም ግንባታና የሕዝብ ደህንነት ኃላፊ ሆነው ተሾሙ,ፖለቲካ,"July 25, 2019",Unknown,አቶ አገኘሁ ተሻገር የአማራ ክልል የሰላም ግንባታና የህዝብ ደህንነት ቢሮ...,https://waltainfo.com/am/31259/
51480,የአማራ ክልል ምክር ቤት የ230 ዳኞችን ሹመት አጸደቀ,ፖለቲካ,"July 25, 2019",Unknown,የአማራ ክልል ምክር ቤት የ230 ዳኞችን ሹመት አጸደቀየአማራ ክልል ምክር...,https://waltainfo.com/am/31260/
51481,ሃምሌ 22 ለሚካሄደው የችግኝ ተከላ መርሀ-ግብር 54 ሚሊየን ብር ተመድቧል,ሀገር አቀፍ ዜና,"July 25, 2019",Unknown,በዘንድሮ በጀት ዓመት ከ4 ቢሊዮን ችግኝ በላይ ለመትከል እቅድ መያዙ ይታ...,https://waltainfo.com/am/32585/
51482,ለህግ የበላይነት መከበር ሁሉም በጋራ መስራት እንዳለበት ተጠቆመ,ሀገር አቀፍ ዜና,"July 25, 2019",Unknown,የፍትህ እኩልነትን ለማረጋገጥ የህግ የበላይነትን የማክበርና የማስከብር ሃ...,https://waltainfo.com/am/32586/

In [4]:
print(f'shape: {dataset.shape}, size: {dataset.size}')

shape: (51483, 6), size: 308898

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51483 entries, 0 to 51482
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  51470 non-null  object
 1   category  51482 non-null  object
 2   date      51483 non-null  object
 3   views     51483 non-null  object
 4   article   51483 non-null  object
 5   link      51483 non-null  object
dtypes: object(6)
memory usage: 2.4+ MB

In [6]:
dataset.duplicated().value_counts()

False    50895
True       588
dtype: int64

In [7]:
dataset.isna().sum()

headline    13
category     1
date         0
views        0
article      0
link         0
dtype: int64

In [8]:
dataset.describe()

,headline,category,date,views,article,link
count,51470,51482,51483,51483,51483,51483
unique,50095,6,6189,4408,50285,50778
top,አፍሪካ በጋዜጦች,ሀገር አቀፍ ዜና,2021-01-04,Unknown,,https://amharic.voanews.com//a/london-marathon...
freq,49,20674,869,32943,121,3

In [22]:
def plot_count(df: pd.DataFrame, column: str, hue: str = '',
                   title: str = '', save_as:str = '') -> None:
        
        plt.figure(figsize=(12, 7))
        if hue == '':
            sns.countplot(data=df, x=column)
        else:
            sns.countplot(data=df, x=column, hue=hue)
        if title == '':
            plt.title(f'Distribution of {column}', size=20, fontweight='bold')
            
        else:
            plt.title(f'Distribution of {title}', size=20, fontweight='bold')
            
        plt.xlabel(f'{column}', fontsize=16)
        plt.ylabel("Count", fontsize=16)
        plt.xticks(rotation=45)
        if save_as == '':
            plt.show()
        else:
            plt.savefig(save_as)